argocd-apps:
  applications:
    argocd-apps:
      namespace: argo
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
      destination:
        namespace: cattle-system
        server: https://kubernetes.default.svc
      project: argocd
      source:
        helm:
          version: v3
          valueFiles:
            - values.yaml
        path: argocd-install/argocd-apps
        repoURL: https://github.com/spydersoft-consulting/ops-argo
        targetRevision: HEAD
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
    argocd:
      namespace: argo
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
      destination:
        namespace: argo
        server: https://kubernetes.default.svc
      project: argocd
      source:
        helm:
          version: v3
          valueFiles:
            - values.yaml
        path: argocd-install/argocd
        repoURL: https://github.com/spydersoft-consulting/ops-argo
        targetRevision: HEAD
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
    argocd-appsets:
      namespace: argo
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
      destination:
        namespace: argo
        server: https://kubernetes.default.svc
      project: argocd
      source:
        path: apps
        repoURL: https://github.com/spydersoft-consulting/ops-argo
        targetRevision: HEAD
        directory:
          recurse: true
          jsonnet: {}
      syncPolicy:
        syncOptions: # Sync options which modifies sync behavior
        - ServerSideApply=true
    argocd-appprojects:
      namespace: argo
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
      destination:
        namespace: argo
        server: https://kubernetes.default.svc
      project: argocd
      source:
        path: projects
        repoURL: https://github.com/spydersoft-consulting/ops-argo
        targetRevision: HEAD
        directory:
          recurse: true
          jsonnet: {}
      syncPolicy:
        syncOptions: # Sync options which modifies sync behavior
        - ServerSideApply=true 
    argocd-secrets:
      namespace: argo
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
      destination:
        namespace: argo
        server: https://kubernetes.default.svc
      project: argocd
      source:
        path: secrets
        repoURL: https://github.com/spydersoft-consulting/ops-argo
        targetRevision: HEAD
        directory:
          recurse: true
          jsonnet: {}
      syncPolicy:
        syncOptions: # Sync options which modifies sync behavior
        - ServerSideApply=true 
  projects:
    argocd:
      namespace: argo
      additionalLabels: {}
      additionalAnnotations: {}
      description: Argocd Project
      sourceRepos:
        - "*"
      destinations:
        - namespace: argo
          server: https://kubernetes.default.svc
        - namespace: external-secrets
          server: https://kubernetes.default.svc
        - namespace: cattle-system
          server: https://kubernetes.default.svc
        - namespace: cluster-tools
          server: https://kubernetes.default.svc
        - namespace: kube-state-metrics
          server: https://kubernetes.default.svc
        - namespace: kube-monitoring
          server: https://kubernetes.default.svc
      clusterResourceWhitelist:
        - group: "*"
          kind: "*"
      orphanedResources:
        warn: false
