configFile: config/in-cluster-local.alloy

syslog:
  enabled: true
  port: 1514
  nodePort: 31050

alloy:
  alloy:
    extraPorts:
      - name: "otlp-grpc"
        port: 4317
        targetPort: 4317
        protocol: "TCP"
      - name: "otlp-http"
        port: 4318
        targetPort: 4318
        protocol: "TCP"
      - name: "tcp-syslog"
        port: 1514
        targetPort: 1514
        protocol: "TCP"
    configMap:
      create: false
      name: in-cluster-local-grafana-alloy-config