alloy:
  alloy:
    extraPorts:
      - name: "otlp-grpc"
        port: 4317
        targetPort: 4317
        protocol: "TCP"
      - name: "otlp-http"
        port: 4318
        targetPort: 4318
        protocol: "TCP"
    podAnnotations:
      linkerd.io/inject: enabled
    configMap:
      content: |
        prometheus.remote_write "default" {
          endpoint {
            url = "http://mimir-gateway-internal.monitoring.svc.cluster.local/api/v1/push"
            headers = {
              "X-Scope-OrgID" = "nonproduction",
            }
          }
          external_labels = {
            cluster = "nonproduction",
            custom_source = "grafana-alloy",
          }
        }

        loki.write "default" {
          endpoint {
            url = "http://loki-gateway-internal.monitoring.svc.cluster.local/loki/api/v1/push"
            tenant_id = "nonproduction"
          }

          external_labels = {
            cluster = "nonproduction",
            custom_source = "grafana-alloy",
          }
        }

        otelcol.processor.memory_limiter "default" {
          check_interval = "1s"
          limit          = "1GiB"

          output {
            metrics = [otelcol.processor.batch.default.input]
            logs    = [otelcol.processor.batch.default.input]
            traces  = [otelcol.processor.batch.default.input]
          }
        }

        otelcol.processor.batch "default" {
          output {
            metrics = [otelcol.exporter.prometheus.default.input]
            logs    = [otelcol.exporter.loki.default.input]
            traces  = [otelcol.exporter.otlp.default.input]
          }
        }
        
        otelcol.receiver.otlp "example" {
          grpc {
            endpoint = "0.0.0.0:4317"
          }

          http {
            endpoint = "0.0.0.0:4318"
          }

          output {
            metrics = [otelcol.processor.batch.default.input]
            logs    = [otelcol.processor.batch.default.input]
            traces  = [otelcol.processor.batch.default.input]
          }
        }

        otelcol.exporter.loki "default" {
          forward_to = [loki.write.default.receiver]
        }

        otelcol.exporter.prometheus "default" {
          forward_to = [prometheus.remote_write.default.receiver]
        }

        otelcol.exporter.otlp "default" {
          client {
            endpoint = "tempo-gateway-internal.monitoring.svc.cluster.local:4317"
            headers = {
              "X-Scope-OrgID" = "nonproduction",
            }
            tls {
              insecure = true
            }
          }
        }