internal_scrape_config:
  enabled: true
  name: internal-scrape-config
kube-prometheus:
  prometheus:
    ingress:
      hostname: internal-cluster.mattgerega.net
    thanos:
      ingress:
        hostname: internal-cluster.mattgerega.net
    alertmanager:
      ingress:
        hostname: internal-cluster.mattgerega.net
    externalLabels:
      cluster: internal
    additionalScrapeConfigs:
      enabled: true
      type: external
      external:
        name: internal-scrape-config
        key: scrape-jobs.yaml