nonproduction_scrape_config:
  enabled: true
  name: nonproduction-scrape-config
kube-prometheus:
  prometheus:
    ingress:
      hostname: nonprod-cluster.mattgerega.net
    thanos:
      ingress:
        hostname: nonprod-cluster.mattgerega.net
    alertmanager:
      ingress:
        hostname: nonprod-cluster.mattgerega.net
    externalLabels:
      cluster: nonproduction
    additionalScrapeConfigs:
      enabled: true
      type: external
      external:
        name: nonproduction-scrape-config
        key: scrape-jobs.yaml
